<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>

</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Поиск</button>
    <form>
    <hr>
    {% if user.is_authenticated %}
        <a href="accounts/login">Выйти из Аккаунта</a>
        <a href="cart">Корзина</a>
    {% else %}
        <a href="accounts/login"><Войти в Аккаунт/a>
    {% endif %}


<!-- Вывод всех категорий -->
    {% for category in all_categories %}
    <a href="/category/{{ category.id }}">{{ category.category_name }}</a>
    {% endfor%}
<!-- Вывод всех продуктов -->
    {% for i in products %}
    <a href="/item/{{ i.id }}">{{ i.product_name }}</a>
    {% endfor%}



</body>
</html>